@font-face {
    src: url(путь к файлу);
    font-family: 'ebgaramondregular';
    font-weight: 400;
}

@font-face {
    src: url(путь к файлу);
    font-family: 'ebgaramondmedium';
    font-weight: 500;
}

@font-face {
    src: url(путь к файлу);
    font-family: 'interregular';
    font-weight: 400;
}

@font-face {
    src: url(путь к файлу);
    font-family: 'interbold';
    font-weight: 700;
}
